[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts-v5"]
	path = lib/openzeppelin-contracts-v5
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
