node_modules
build

# Committing artifacts so they can be accessed from other projects
# artifacts

# Committing flattened contracts so they can be loaded in remix easily
# flat


.DS_Store

test-blockchain/genesis.json
test-blockchain/geth
test-blockchain/history
test-blockchain/data

contractAddresses.json
