{
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": false,
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 120,
        "trailingComma": "none"
      }
    }
  ]
}
